<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/css_reset.css">
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="shortcut icon" href="/assets/chat_bubble.svg" type="image/x-icon">
  <title>DevTalk</title>
</head>
<body>
  <div class="body_container flex-center flex-col">
    <h1>DevTalk</h1>
    <span class="flex-center flex-row">
      <a href="/login">
        <div class="login">Login</div>
      </a>
      <a href="/sign-up">
        <div class="sign-up">Sign up</div>
      </a>
    </span>
  </div>

</body>
</html>