<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/css_reset.css">
  <link rel="stylesheet" href="/styles/sign-up.css">
  <!-- <link rel="shortcut icon" href="/assets/chat_bubble.svg" type="image/x-icon"> -->
  <title>DevTalk</title>
</head>
<body>
  <h1>Index</h1>
</body>
</html>