<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/css_reset.css">
  <link rel="stylesheet" href="/styles/log-in.css">
  <link rel="shortcut icon" href="/assets/chat_bubble.svg" type="image/x-icon">
  <title>Document</title>
</head>
<body>
  <form action="/login" method="POST">
    <label for="userName">
      <input type="text" name="username" id="userName" placeholder="username or email">
    </label>
    <label for="password">
      <input type="password" name="password" id="password">
    </label>
    <button type="submit">Login</button>
    <a href="/">
      <div>Cancel</div>
    </a>
  </form>
</body>
</html>