<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/css_reset.css">
  <link rel="stylesheet" href="/styles/log-in.css">
  <link rel="shortcut icon" href="/assets/chat_bubble.svg" type="image/x-icon">
  <title>Document</title>
</head>
<body>
  <div class="body_container flex-center flex-col">
    <form action="/login" method="POST" class="flex-center flex-col">
      <label for="userName"> Username: 
        <input autofocus type="text" name="username" id="userName" placeholder="username or email">
      </label>
      <label for="password"> Password: 
        <input type="password" name="password" id="password">
      </label>

      <div class="flex-center flex-row">
        <a href="/">
          <div>Cancel</div>
        </a>
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</body>
</html>