<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/css_reset.css">
  <link rel="stylesheet" href="/styles/sign-up.css">
  <link rel="shortcut icon" href="/assets/chat_bubble.svg" type="image/x-icon">
  <title>DevTalk</title>
</head>
<body>
  <form action="/sign-up" class="flex-center flex-col" onsubmit="return confirm('Are you sure???')" method="POST">
    <caption>Sign-Up</caption>
    <label class="flex-center flex-row _in_between" for="userName">Username: 
      <input type="text" name="userName" id="userName" placeholder="Username or email address" required>
    </label>
    <label class="flex-center flex-row" for="firstName">First name: 
      <input type="text" name="firstName" id="firstName" required>
    </label>
    <label class="flex-center flex-row" for="lastName">Last name:
      <input type="text" name="lastName" id="lastName" required>
    </label>
    <label class="flex-center flex-row" for="password">Password: 
      <input type="password" name="password" id="password" required>
    </label>
    <button type="submit">Confirm</button>
    <a href="/">
      <div>Cancel</div>
    </a>
  </form>
</body>
</html>