<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/css_reset.css">
  <link rel="stylesheet" href="/styles/welcome.css">
  <link rel="shortcut icon" href="/assets/chat_bubble.svg" type="image/x-icon">
  <title>Document</title>
</head>
<body>
  <h1>WELCOME!!!</h1>
  <a href="/logout">
    Log Out
  </a>

  <% if (locals.role.id !== 1) { %>
    <a href="/join">Join the devtalk club</a>
  <% } %>
  <span>
    Current Role: <h1><%= locals.role.name %> </h1>
  </span>
 
</body>
</html>