:root {
  background-color: #3a2828;
  color: wheat;
  font-family: 'Courier New', Courier, monospace;
}

html, body, .body_container {
  width: 100%;
  height: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  align-items: flex-start;
}

.flex-row {
  flex-flow: row nowrap;
}

.flex-col {
  flex-flow: column nowrap;
}

.body_container {
  height: fit-content;
  padding: 5rem;
}

a > div, button {
  color: wheat;
  padding: .5rem 1rem;
  border: .5px solid #614d4d;
  width: min(8rem, 300px);
  text-align: center;
}

a > div:hover, button:hover {
  color: #3a2828;
  background-color: wheat;
  transition-duration: .5s;
}

button, input, textarea {
  background-color: transparent;
  cursor: pointer;
}

label {
  text-align:start;
}

input {
  min-width: 300px;
}

form {
  gap: 2rem;
}

form > div:last-of-type {
  margin-block-start: 3rem;
  gap: 5rem;
}

input, textarea {
  padding: .5rem .4rem;
  color: wheat;
  resize: none;
  border: none;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  width: inherit;
}

input:hover, textarea:hover {
  background-color: #634a4a;
}

form > label:focus-within, form > div:last-of-type  *:focus-within {
  border: .5px solid rgba(192, 180, 157, 0.651);
}

form > label > *::placeholder {
  color: rgba(192, 180, 157, 0.651);
}

form > label:first-of-type {
  font-size: 35px;
  width: 100%;
}
